#Compiled files
*.pyc
*.so

# Config files
server.py
config/config.py
config/instance.py
newrelic.ini
migrations/alembic.ini

#Dynamic Modules
*.so

# Packages
*.egg
*.egg-info
*.eggs*/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coveragerc
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Virtual Environments
venv/

#IDE project files
.mr.developer.cfg
.project
.pydevproject
.settings/
.idea

# Puppet-managed config
config/config-managed.yaml
